@font-face {
    font-family: "Phosphorus";
    src: url("media/Phosphorus Bromide.ttf") format("truetype");
}

.game-board {
    min-width: 500px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.player.self {
    font-weight: bold;
}

.player.offline .player-name-text {
    text-decoration: line-through;
}

.no-player .player.offline .player-name-text {
    text-decoration: none;
}

.spectators .player.offline .player-name-text {
    box-shadow: none;
}

#avatar-input {
    display: none;
}

body {
    background-size: cover;
    background: #594242;
    background-image: linear-gradient(0deg, #00838f21, #ffffff1a);
    background-image: url(media/bg.jpg);
    background-size: contain;
    background-position: center;
}

.kicked {
    color: white;
    padding: 22px;
    text-align: center;
    background: #16413c8c;
}

.player {
    padding: 3px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.player-host-controls {
    display: none;
    vertical-align: text-bottom;
    position: absolute;
    top: -11px;
    z-index: 1;
}

.player-host-controls > * {
    margin-left: 3px;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: flex;
    flex: 0;
}

.player .host-button, .command .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.spectators-section {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.spectators-section.active {
    display: block;
}

.spectators {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    height: 20px;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}

.spectators .player:hover .player-host-controls, .spectators .player:focus .player-host-controls {
    display: inline-block;
}

.avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 3px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: soft-light;
}

.avatar:hover .set-avatar-button, .avatar:focus .set-avatar-button {
    display: block;
}

.set-avatar-button {
    display: none;
}

.set-avatar-button i {
    position: absolute;
    left: 3px;
    bottom: 3px;
    color: #4c4c4c;
    background: rgba(212, 212, 212, 0.74);
    z-index: 2;
}

.player-name {
    text-align: center;
    font-size: 14px;
}

.spectators .player-name-text {
    display: inline;
}

.player-slot {
    display: flex;
    padding: 5px;
    color: white;
    z-index: 1;
    position: relative;
    --border-color: #16413c;
    margin: 3px;
}

.seller-section .player-slot {
    width: 220px;
}

.ornament-border {
    --background-color: #f1e8c7;
    border: 4px solid var(--border-color);
    --stop-list: #ffffff00 9px, #ffffff 9px;
    --stop-list-bg: var(--border-color) 9px, #ffffff00 0px;
    --var-mask: radial-gradient(circle at 0% 0%, var(--stop-list)), radial-gradient(circle at 100% 0%, var(--stop-list)), radial-gradient(circle at 0% 100%, var(--stop-list)), radial-gradient(circle at 100% 100%, var(--stop-list));
    --var-mask-composite: source-in;
    mask: var(--var-mask);
    mask-composite: var(--var-mask-composite);
    -webkit-mask: var(--var-mask);
    -webkit-mask-composite: var(--var-mask-composite);
    background: radial-gradient(circle at 0% 0%, var(--stop-list-bg)), radial-gradient(circle at 100% 0%, var(--stop-list-bg)), radial-gradient(circle at 0% 100%, var(--stop-list-bg)), radial-gradient(circle at 100% 100%, var(--stop-list-bg)), var(--background-color);
}

.player-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.join-slot-button {
    text-decoration: underline;
    cursor: pointer;
}

.player-name-text {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 0px;
    line-height: 18px;
}

.bg-color-0 {
    background-color: #c62828;
}

.border-color-0 {
    --border-color: #c62828;
}

.bg-color-1 {
    background-color: #2e7d32;
}

.border-color-1 {
    --border-color: #2e7d32;
}

.bg-color-2 {
    background-color: #ef6c00;
}

.border-color-2 {
    --border-color: #ef6c00;
}

.bg-color-3 {
    background-color: #283593;
}

.border-color-3 {
    --border-color: #283593;
}

.bg-color-4 {
    background-color: #6a1b9a;
}

.border-color-4 {
    --border-color: #6a1b9a;
}

.bg-color-5 {
    background-color: #00838f;
}

.border-color-5 {
    --border-color: #00838f;
}

.bg-color-6 {
    background-color: #50a0d1;
}

.border-color-6 {
    --border-color: #50a0d1;
}

.bg-color-7 {
    background-color: #f06292;
}

.border-color-7 {
    --border-color: #f06292;
}

.bg-color-8 {
    background-color: #795548;
}

.border-color-8 {
    --border-color: #795548;
}

.bg-color-9 {
    background-color: #d4c00f;
}

.border-color-9 {
    --border-color: #d4c00f;
}

.bg-color-10 {
    background-color: #757575;
}

.border-color-10 {
    --border-color: #757575;
}

.want-role-section {
    position: fixed;
    top: 88px;
    background: rgba(255, 252, 245, 0.58);
    padding: 6px;
    left: 0;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.want-role-seller {
    margin-bottom: 10px;
}

.player-slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 150px;
}

.bottom-pane {
    display: flex;
    /* position: absolute; */
    /* bottom: 0; */
    justify-content: center;
    /* left: 0; */
    right: 0;
    flex-wrap: wrap;
    flex-flow: column;
}

.buyer-slots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.buyer-slots > div {
    margin: 8px 4px;
}

.seller-slots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: sans-serif, Tahoma;
}

.seller-stocks {
    display: flex;
    flex-wrap: wrap;
}

.stock {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.stock.noStocks {
}

.seller-stocks .stock, .offer-pane .stock {
    height: 41px;
    box-shadow: inset 0 0 8px 2px black;
}

.owned-stock.stock {
    display: inline-flex;
    vertical-align: text-bottom;
}

.owned-stock .stock-icon {
    width: 20px;
    margin: 0;
    height: 17px;
}

.stock-icon {
    width: 28px;
    height: 16px;
    margin: 0 5px;
    text-align: right;
    position: relative;
    box-shadow: inset 0 0 0px 2px #00000061;
}

.stock.red .stock-icon {
    background: #bf3747;
}

.stock.red .stock-icon-full {
    color: #bf3747;
}

.stock.red .stock-icon-full::after {
    background-image: url("media/red.jpg");
}

.stock.red2x .stock-icon {
    background: #cf1200;
}

.stock.red2x .stock-icon-full {
    color: #cf1200;
}

.stock.red2x .stock-icon-full::after {
    background-image: url("media/red2x.jpg");
}

.stock.yellow .stock-icon {
    background: #fff200;
}

.stock.yellow .stock-icon-full {
    color: #fff200;
}

.stock.yellow .stock-icon-full::after {
    background-image: url("media/yellow.jpg");
}

.stock.yellow2x .stock-icon {
    background: #ff7f27;
}

.stock.yellow2x .stock-icon-full {
    color: #ff7f27;
}

.stock.yellow2x .stock-icon-full::after {
    background-image: url("media/yellow2x.jpg");
}

.stock.blue .stock-icon {
    background: #00a2e8;
}

.stock.blue .stock-icon-full {
    color: #00a2e8;
}

.stock.blue .stock-icon-full::after {
    background-image: url("media/blue.jpg");
}

.stock.blue2x .stock-icon {
    background: #3f48cc;
}

.stock.blue2x .stock-icon-full {
    color: #3f48cc;
}

.stock.blue2x .stock-icon-full::after {
    background-image: url("media/blue2x.jpg");
}

.stock.green .stock-icon {
    background: #22b14c;
}

.stock.green .stock-icon-full {
    color: #22b14c;
}

.stock.green .stock-icon-full::after {
    background-image: url("media/green.jpg");
}

.stock.green2x .stock-icon {
    background: #167232;
}

.stock.green2x .stock-icon-full {
    color: #167232;
}

.stock.green2x .stock-icon-full::after {
    background-image: url("media/green2x.jpg");
}

.stock .stock-icon-full::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    margin: -0.5px;
    z-index: -1;
}

.stock.noStocks .stock-icon-full::after {
    opacity: 0.3;
    filter: saturate(1);
}

.player-balance {
    font-size: 19px;
    color: black;
    background: url(media/balance-bg.png);
    background-size: contain;
    width: 101px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Phosphorus';
    color: #16413c;
    font-size: 24px;
    font-weight: bold;
    padding-top: 1px;
}

.add-offer.ornament-border {
    text-align: center;
    cursor: pointer;
    color: #16413c;
    font-size: 20px;
    user-select: none;
    margin-top: 5px;
    width: 63%;
    margin: 6px auto;
    font-weight: bold;
    --border-color: #16413c;
    --background-color: #f1e8c7;
}

.seller-section {
    margin: 0 5px;
}

.stock-icon .material-icons {
    font-size: 16px;
}

.stock-count {
    font-family: Phosphorus;
    font-size: 14px;
    position: absolute;
    background: #f1e8c7;
    color: black;
    padding: 0 4px;
    bottom: 2px;
    right: 2px;
    text-align: center;
    font-weight: bold;
}

.stocks-table {
    display: flex;
    flex-flow: row;
    width: 275px;
    flex-wrap: wrap;
    justify-content: center;
}

.stocks-table.randomize {
    transform: scale(1.5);
    z-index: 2;
    margin-bottom: 40px;
}

.stocks-line {
    display: flex;
    align-items: center;
    border: 3px solid #16413c;
    border-radius: 7px;
    margin-top: -3px;
}

.stocks-line-R {
    background: #cb4c51;
}

.stocks-line-Y {
    background: #eb701a;
}

.stocks-line-G {
    background: #5ccb61;
}

.stocks-line.stocks-line-B {
    background: #00a2e8;
}

.stock-price-values {
    display: flex;
}

.stock-price {
    background: #ffffff6b;
    margin: 3px 0;
    width: 29px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-price.active {
    filter: invert(1);
}

.stock-dice {
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    margin: 0 6px;
    border-radius: 6px;
    box-shadow: 0 0 4px 1px black;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    background: white;
    overflow: visible;
    position: relative;
}

.status-message {
    background: #16413c;
    width: 252px;
    text-align: center;
    padding: 4px 20px;
    box-sizing: border-box;
    clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0%);
    position: relative;
    margin-bottom: 2px;
    color: #16413c;
    font-size: 16px;
    font-weight: 600;
}

.status-message::before {
    content: "";
    clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0%);
    width: 98%;
    height: 86%;
    position: absolute;
    background: #f1e8c7;
    left: 1%;
    top: 7%;
    z-index: -1;
}

.offer-pane {
    position: fixed;
    display: flex;
    padding: 7px;
    flex-wrap: wrap;
    flex-flow: column;
    top: 50%;
    box-shadow: 0 0 4px 1px black;
    background: url(media/offer-bg.png) center 7px no-repeat #f1e8c7;
    width: 330px;
    box-sizing: border-box;
    font-family: sans-serif, Tahoma;
    z-index: 1;
    transform: translate(0,-50%);
    animation: edit-offer-slide-in 0.3s forwards;
}

.auction-pane {
    position: fixed;
    left: 10px;
    background: #16413c;
    flex-flow: column;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    border-radius: 13px;
    border: 7px double #8cbcab;
    padding: 2px;
    animation: auction-pane-slide-in 0.2s forwards;
    z-index: 1;
}

.offer-stock {
    display: flex;
}

.stocks-pane {
    display: flex;
}

.offer-stock-count-value {
    text-align: center;
    /* font-size: 18px; */
}

.offer-price {
    background: #16413c;
    color: #f1e8c7;
    font-family: 'Phosphorus';
    padding-top: 1px;
}

.offers .offer-price {
    padding: 1px 4px 0px;
}

.offer-pane .offer-price {
    text-align: center;
    user-select: none;
    display: flex;
    padding: 0 4px;
    font-size: 18px;
    padding-top: 1px;
}

.offer-add-stock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.offer-price-up, .offer-price-down {
    cursor: pointer;
}

.offer-top-row {
    padding: 0 4px;
}

.offer-stock-up, .offer-stock-down {
    cursor: pointer;
}

.offer-stock-count .inactive {
    cursor: default;
    opacity: 0.2;
}

.offer-stock-icon .stock-icon {
    height: 27px;
    width: 30px;
}

.offer-add-icon i {
    font-size: 38px;
    color: #adadad;
}

.add-offer.adding {
    --border-color: #f1e8c7;
    --background-color: #16413c;
    color: #f1e8c7;
    --border-color: #16413c;
    --background-color: #16413c;
}

.seller-stocks .stock.hasStocks, .offer-pane .stock.hasStocks {
    cursor: pointer;
}

.offer-add-controls .stock.inactive {
    cursor: default;
    opacity: 0.8;
}

.offer-add-controls .stock.inactive .stock-icon {
    cursor: default;
    background-image: linear-gradient(-45deg, #ffffff80 0%, transparent 0%, #ffffff80 10%, transparent 10%, #ffffff80 20%, transparent 20%, #ffffff80 30%, transparent 30%, #ffffff80 40%, transparent 40%, #ffffff80 50%, transparent 50%, #ffffff80 60%, transparent 60%, #ffffff80 70%, transparent 70%, #ffffff80 80%, transparent 80%, #ffffff80 90%, transparent 90%, #ffffff80 100%, transparent 100%);
}

.offer-add-save {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
}

.offer-add-save .save {
    font-size: 30px;
    cursor: pointer;
    margin: 0;
}


.offer-add-save .cancel {
    font-size: 22px;
    cursor: pointer;
    margin: 0;
}

.offer {
    display: flex;
    padding: 2px 7px;
    align-items: center;
    color: black;
    position: relative;
    margin-top: 6px;
}

.offer-stocks {
    display: flex;
    flex-wrap: wrap;
}

.spacer {
    flex-grow: 1;
}

.offer-buttons {
    position: absolute;
    right: -43px;
    display: none;
    backdrop-filter: blur(12px);
    top: 0px;
    color: #16413c;
    background: #f1e8c7;
    border: 4px solid var(--border-color);
    padding: 2px;
    border-left: 0;
    z-index: 1;
}

.offer-wrap {
    position: relative;
}

.offer-wrap:hover .offer-buttons {
    display: block;
}

.offer-stocks .offer-icon {
    width: 16px;
}

.offer-background {
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #ffffff57, #ffffff1a);
    /* z-index: 1; */
    display: none;
}

.offers .stock-icon {
    width: 16px;
}

.offer-border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid;
    pointer-events: none;
    border: 4px solid;
    --border-color: #16413c;
}

.round-result .offer-border {
    opacity: 0.3;
}

.offer-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #16413c;
}

.offer-can-accept .button-accept:hover {
    background: #ffffff57;
}

.offer-can-finalize .button-finalize:hover {
    background: #ffffff57;
}

.button-finalize {
    width: 16px;
    text-align: center;
    margin-right: 2px;
    position: relative;
}

.button-finalize i {
    font-size: 16px;
}

.want-finalize .button-finalize i {
    color: #16413c;
    font-size: 10px;
    margin-top: 1px;
}

.offer-finalized {
    color: #FF5722;
}

.finalize-anim {
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    top: -5px;
    left: -1px;
}

.finalize-circle {
    r: 8;
    cx: 9;
    cy: 9;
    fill: none;
    stroke: #ef6c00;
    stroke-width: 3px;
    stroke-dasharray: 50;
    transform: rotate(-87deg);
    transform-origin: center;
    stroke-dashoffset: 50;
    animation: finalize-circle 5s linear forwards;
    /* display: none; */
}

@keyframes finalize-circle {
    0% {
        stroke-dashoffset: 50;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.seller-stocks .stock .stock-icon,
.offer-pane .stock .stock-icon,
.auction-pane .stock .stock-icon {
    box-shadow: 0 0 0 0 red;
    transition: box-shadow 1s;
    border: 3px solid;
    width: 50px;
    height: 35px;
    margin: 0;
    background: none;
}

.seller-stocks .stock .stock-icon.needPledge {
    animation: needPledge-circle 1s linear infinite alternate;
}

@keyframes needPledge-circle {
    0% {
        box-shadow: 0 0 0 0 red;
    }
    100% {
        box-shadow: 0 0 5px 2px red, inset 0 0 0px 1px #baa088;
    }
}

.seller-stocks .stock.not-enough-anim .stock-icon {
    box-shadow: 0 0 9px 2px red;
    transition: none;
}

.auction-stock .stock-icon {
    width: 140px;
    height: 100px;
}

.auction-bid {
    background: url(/panic-on-wall-street/media/auction-price-bg.png) 0 no-repeat;
    font-weight: bold;
    font-size: 20px;
    margin-top: -7px;
    position: relative;
    width: 52px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content:  center;
    right: -52px;
    top: -35px;
    margin-bottom: -37px;
    font-family: 'Phosphorus';
    color: #16413c;
}

.auction-rise-button {
    background: #f1e8c7;
    padding: 6px 4px;
    display: flex;
    width: 44px;
    justify-content: center;
    cursor: pointer;
    margin: -8px -1px;
    user-select: none;
    color: #16413c;
    font-family: 'Phosphorus';
    font-weight: 600;
    font-size: 21px;
    border-radius: 7px;
    padding-top: 7px;
    border: 4px solid #16413c;
}

.auction-controls.inactive .auction-rise-button {
    background: #bfb5ab;
    color: gray;
    cursor: default;
}

.auction-controls {
    display: flex;
    background: url(/panic-on-wall-street/media/auction-elem.png) 0 14px;
    margin: 0px;
    padding: 11px 8px;
    background-clip: content-box;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.auction-bidder {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border: 1px solid aliceblue;
    margin: 6px 5px 9px;
    padding: 2px 5px;
}

.auction-stock .material-icons {
    font-size: 100px;
}

.auction-stock-left {
    position: absolute;
    margin: 10px;
    font-size: 20px;
    color: #f1e8c7;
    padding: 0 3px;
    top: 0;
    font-family: 'Phosphorus';
    left: 0;
}

.auction-pane .timer {
    font-size: 25px;
    color: #f1e8c7;
    font-family: 'Phosphorus';
    text-align: center;
    padding: 8px;
}

.buyer-income-row, .seller-income-row {
    position: relative;
    margin-top: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    background: white;
}

.round-result-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000069;
    z-index: 1;
}

.round-result {
    padding: 10px;
    min-width: 260px;
    font-family: sans-serif;
    color: #16413c;
    --border-color: #16413c;
    border: 6px solid var(--border-color);
}

.buyer-income-name, .seller-income-name {
    color: white;
    padding: 4px 6px;
}

.round-result-title .timer {
    position: absolute;
    top: 1px;
    right: 0;
}

.round-result-title {
    font-size: 23px;
    text-align: center;
    position: relative;
}

.round-result .balance {
    background: gold;
    border: 1px solid;
    padding: 3px 4px;
    font-weight: bold;
}

.income-title {
    font-size: 17px;
    margin-top: 13px;
    margin-left: 2px;
}

.bankrupt-icon {
    position: absolute;
    color: red;
}

.buyer-slots .bankrupt-icon {
    right: 4px;
    top: 7px;
}

.seller-slots .bankrupt-icon {
    bottom: 0;
    right: 0;
}

.bankrupt-icon i {
    font-size: 30px;
}

.seller-slots .player-slot.bankrupt .player-section {
    opacity: 0.5;
}

.player-slot.bankrupt .seller-stocks {
    opacity: 0.5;
}

.player-slot.bankrupt {
    background: #baa08861;
}

.stock-dice-values {
    position: absolute;
    display: none;
    z-index: 1;
    left: -6px;
    user-select: none;
    backdrop-filter: blur(10px);
    padding: 4px 0px;
}

.stocks-line > .stock-dice:hover .stock-dice-values {
    display: flex;
}

.stock-dice-values > .stock-dice {
    visibility: visible;
}

.stock-dice.current {
    box-shadow: 0 0 4px 3px red;
}

.rules {
    position: fixed;
    padding: 7px 10px;
    left: 0;
    top: 42px;
    z-index: 1;
}

.rules a {
    text-decoration: none;
}

@media (max-width: 765px) {
    .stocks-table {
        order: 1;
    }
}

.player-slots {
    font-family: sans-serif, Tahoma;
}

.bottom-pane {
    font-family: sans-serif, Tahoma;
}

.stock-icon-2x {
    color: white;
    text-shadow: 0 0 4px black;
}

.auction-pane .stock-icon-2x {
    font-size: 33px;
    font-family: sans-serif, Tahoma;
    margin-right: 4px;
    font-weight: 600;
}

.offer-pane-title {
    color: #16413c;
    font-family: "Phosphorus";
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.offer-price-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #16413c;
    height: 32px;
    margin: 7px 0;
}

.offer-price-edit i:hover {
    text-shadow: 0 0 3px orange;
}

.offer-price-edit i {
    font-size: 40px;
    margin: -5px;
}

.offer-price-edit .double i {
    font-size: 19px;
    margin: -5px;
    margin-top: -4px;
}

.offer-stock-count i {
    font-size: 19px;
    margin: -4px 2px;
}


.offer-stock-count i:hover {
    text-shadow: 0 0 5px orange;
}

.auction-pane-inner {
    border: 12px solid #f1e8c7;
    border-radius: 26px;
    background: #227269;
    box-shadow: inset 0 0 0 2px #16413c;
    width: 185px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
}

.auction-bidder-title {
    color: #f1e8c7;
    font-size: 18px;
    text-align: center;
}

.auction-pane .stock .stock-icon {
    width: 134px;
    height: 95px;
}

.material-icons.settings-button:hover {
    color: #f1e8c7;
    background: #16413c;
}
.flip-clock {
    background: #313131;
    padding: 8px 5px;
    user-select: none;
}

.timer.active .card__top, .timer.active .card__back::before {
    box-shadow: inset -1px 3px 13px -3px #a5f2eb;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    color: #717171;
}

.card__bottom {
    color: #888;
}

.timer.active .card__top,
.timer.active .card__bottom,
.timer.active .card__back::before,
.timer.active .card__back::after {
    color: #ccc;
}

.timer.active .card__bottom {
    color: #FFF;
}

.flip-clock {
    text-align: center;
    perspective: 400px;
    font-family: serif;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
    box-sizing: border-box;
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

.flip-clock__slot {
    font-size: 2vw;
}

.clock-card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 19px;
    line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    background: #424242;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visiblity: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
    transform: translateZ(0);
}

.card__bottom {
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #424242;
    background: #424242;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%,
    99% {
        opacity: 0.99;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {
    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

.currency-sign {
    font-size: 14px;
    margin-top: 4px;
    font-weight: normal;
}

.round-result .offer-price {
    padding: 4px;
    font-family: 'Phosphorus';
}

@keyframes edit-offer-slide-in {
    0% {
        right: -333px;
    }
    100% {
        right: 15px;
    }
}

@keyframes auction-pane-slide-in {
    0% {
        left: -230px;
    }
    100% {
        left: 15px;
    }
}

.avatar.no-player {
    background: gainsboro;
}

.offer-stock-count {
    visibility: hidden;
}

.offer-stock-count.active {
    visibility: visible;
}

.player-tokens {
    background: #16413c;
    padding: 5px 0;
    border-radius: 20px;
    position: absolute;
    top: 83px;
    right: -4px;
    font-family: 'Phosphorus';
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    box-sizing: border-box;
    text-align: center;
    color: #f1e8c7;
}

.konfa-menu img {
    filter: brightness(0.1) !important;
}
